<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <ul class="list-unstyled footerLink">
      <!-- <li><a href="about.html">About</a></li> -->
      <!-- <li><a href="projects.html">Projects</a></li> -->
    </ul>
    <p class="copyrightText">&copy; 2024 Kumar Neupane</p>
  </div>
</footer>

<!-- Start of Nepali calendar widget -->
<script type="text/javascript">
  var nc_width = 'responsive';
  var nc_height = 650;
  var nc_api_id = "2000y3p294";
</script>
<script type="text/javascript" src="https://www.ashesh.com.np/nepali-calendar/js/ncf.js?v=5"></script>
<div id="ncwidgetlink">
  Powered by © <a href="https://www.ashesh.com.np/nepali-calendar/" id="nclink" title="nepali calendar" target="_blank">nepali calendar</a>
</div>
<!-- End of Nepali calendar widget -->
