<header class="navbar navbar-default topNav navbar-fixed-top" id="top" role="banner" style="background-color:#f8f7f8; margin-bottom:0px; padding-bottom:0px;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"><span class="sr-only">Toggle navigation</span></button>
      <a href="{{ site.baseurl }}/" class="navbar-brand"><img height="40" src="{{ site.baseurl }}/images/logo/logo.png" alt="logo"><span>Kumar Neupane</span></a>
    </div>
    <!-- Menu start -->
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
        <li><a href="{{ site.baseurl }}/achievement-and-participations.html">Achievements and Participations</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
      </ul>
    </nav>
    <!-- Menu end -->
  </div>
</header>
<hr style="margin-top: 0px;">
